In [1]:
"""
Realizar un script para extraer datos mediante queries.
"""

'\nRealizar un script para extraer datos mediante queries.\n'

In [2]:
#pip install mysql-connector-python

In [3]:
import pandas as pd
import mysql
import mysql.connector

QUERIES

In [5]:
#funci√≥n ejecutar para queries
#actualizar user/password antes de ejecutar

def select_from_table(query, database, host = "localhost", user = "root", password = "Hackaboss_2024"):

    db = mysql.connector.connect(host     = "localhost",
                                 user     = "root",
                                 password = "Hackaboss_2024",
                                 database = "yfinance_stocks")

    cursor = db.cursor()

    cursor.execute(query) #ejecutar la query
    column_names = cursor.column_names #columnas de la tabla

    #guardar los datos de la tabla
    data = cursor.fetchall()

    cursor.close()
    db.close()
    
    return data, column_names

In [6]:
#query global de stocks
table_name = "stocks"

query = f"""SELECT * FROM {table_name};"""

database = "yfinance_stocks"

data, column_names = select_from_table(query = query, database = database)

pd.DataFrame(data = data, columns = column_names)

,ticker,name,sector,industry,market_cap,full_time_employees,ipo_date,extraction_timestamp
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3.518381e+12,161000.0,1980-12-12,2024-10-28 10:16:23
1,ADBE,Adobe Inc.,Technology,Software - Infrastructure,2.135101e+11,29945.0,1986-08-08,2024-10-28 10:16:23
2,ADI,"Analog Devices, Inc.",Technology,Semiconductors,1.142778e+11,26000.0,2000-08-08,2024-10-28 10:16:23
3,ADP,"Automatic Data Processing, Inc.",Technology,Software - Application,1.182859e+11,64000.0,1961-10-13,2024-10-28 10:16:23
4,ADSK,"Autodesk, Inc.",Technology,Software - Application,6.169911e+10,14100.0,1985-12-12,2024-10-28 10:16:23
5,AMAT,"Applied Materials, Inc.",Technology,Semiconductor Equipment & Materials,1.537678e+11,35200.0,1980-06-19,2024-10-28 10:16:23
6,AMD,"Advanced Micro Devices, Inc.",Technology,Semiconductors,2.528551e+11,26000.0,1972-09-18,2024-10-28 10:16:23
7,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,1.971389e+12,1525000.0,1997-05-15,2024-10-28 10:16:23
8,ANET,"Arista Networks, Inc.",Technology,Computer Hardware,1.238045e+11,4023.0,2015-06-27,2024-10-28 10:16:23
9,APH,Amphenol Corporation,Technology,Electronic Components,8.358978e+10,95000.0,2011-07-06,2024-10-28 10:16:23
10,APP,Applovin Corporation,Technology,Software - Application,5.327923e+10,1717.0,None,2024-10-28 10:16:23
11,ATVI,None,None,None,NaN,NaN,2003-08-09,2024-10-28 10:16:23
12,AVGO,Broadcom Inc.,Technology,Semiconductors,8.103908e+11,20000.0,2016-09-14,2024-10-28 10:16:23
13,CDNS,"Cadence Design Systems, Inc.",Technology,Software - Application,7.045388e+10,11200.0,1983-03-29,2024-10-28 10:16:23
14,CRM,"Salesforce, Inc.",Technology,Software - Application,2.776798e+11,72682.0,2004-06-23,2024-10-28 10:16:23
15,CRWD,"CrowdStrike Holdings, Inc.",Technology,Software - Infrastructure,7.336631e+10,9219.0,2019-09-20,2024-10-28 10:16:23
16,CSCO,"Cisco Systems, Inc.",Technology,Communication Equipment,2.243329e+11,90400.0,1990-02-16,2024-10-28 10:16:23
17,DDOG,"Datadog, Inc.",Technology,Software - Application,4.097080e+10,5200.0,2019-09-19,2024-10-28 10:16:23
18,DELL,Dell Technologies Inc.,Technology,Computer Hardware,8.388155e+10,120000.0,2018-12-28,2024-10-28 10:16:23
19,FI,"Fiserv, Inc.",Technology,Information Technology Services,1.151264e+11,42000.0,None,2024-10-28 10:16:23
20,FICO,Fair Isaac Corporation,Technology,Software - Application,4.903626e+10,3588.0,1986-04-04,2024-10-28 10:16:23
21,FIS,Fidelity National Information S,Technology,Information Technology Services,4.904633e+10,60000.0,1968-01-08,2024-10-28 10:16:23
22,FTNT,"Fortinet, Inc.",Technology,Software - Infrastructure,6.147568e+10,13527.0,2009-08-06,2024-10-28 10:16:23
23,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2.013319e+12,179582.0,2004-08-19,2024-10-28 10:16:23
24,IBM,International Business Machines,Technology,Information Technology Services,2.143972e+11,282200.0,1911-11-12,2024-10-28 10:16:23
25,INTC,Intel Corporation,Technology,Semiconductors,9.697968e+10,124800.0,1971-10-13,2024-10-28 10:16:23
26,INTU,Intuit Inc.,Technology,Software - Application,1.707735e+11,18800.0,1993-03-24,2024-10-28 10:16:23
27,KLAC,KLA Corporation,Technology,Semiconductor Equipment & Materials,9.017523e+10,15000.0,1995-08-01,2024-10-28 10:16:23
28,LRCX,Lam Research Corporation,Technology,Semiconductor Equipment & Materials,1.006818e+11,17450.0,1996-11-06,2024-10-28 10:16:23
29,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1.426034e+12,70799.0,2012-05-18,2024-10-28 10:16:23
30,MPWR,"Monolithic Power Systems, Inc.",Technology,Semiconductors,4.393969e+10,3564.0,2007-11-02,2024-10-28 10:16:23
31,MRVL,"Marvell Technology, Inc.",Technology,Semiconductors,7.088114e+10,6511.0,2000-11-17,2024-10-28 10:16:23
32,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3.183055e+12,228000.0,1986-03-13,2024-10-28 10:16:23
33,MSI,"Motorola Solutions, Inc.",Technology,Communication Equipment,7.792820e+10,21000.0,2006-12-01,2024-10-28 10:16:23
34,MSTR,MicroStrategy Incorporated,Technology,Software - Application,4.335243e+10,1839.0,2006-01-26,2024-10-28 10:16:23
35,MU,"Micron Technology, Inc.",Technology,Semiconductors,1.196441e+11,48000.0,1984-03-06,2024-10-28 10:16:23
36,NFLX,"Netflix, Inc.",Communication Services,Entertainment,3.225940e+11,13000.0,2002-05-23,2024-10-28 10:16:23
37,NOW,"ServiceNow, Inc.",Technology,Software - Application,1.961765e+11,22668.0,2012-06-28,2024-10-28 10:16:23
38,NVDA,NVIDIA Corporation,Technology,Semiconductors,3.471976e+12,29600.0,1999-01-22,2024-10-28 10:16:23
39,NXPI,NXP Semiconductors N.V.,Technology,Semiconductors,6.194088e+10,34200.0,2012-08-02,2024-10-28 10:16:23
40,ORCL,Oracle Corporation,Technology,Software - Infrastructure,4.808343e+11,159000.0,1986-03-12,2024-10-28 10:16:23
41,PANW,"Palo Alto Networks, Inc.",Technology,Software - Infrastructure,1.193129e+11,15289.0,2012-07-20,2024-10-28 10:16:23
42,PAYX,"Paychex, Inc.",Technology,Software - Application,5.090036e+10,16000.0,1971-08-14,2024-10-28 10:16:23
43,PLTR,Palantir Technologies Inc.,Technology,Software - Infrastructure,9.610447e+10,3661.0,2020-09-30,2024-10-28 10:16:23
44,PYPL,"PayPal Holdings, Inc.",Financial Services,Credit Services,8.352435e+10,27200.0,2015-07-20,2024-10-28 10:16:23
45,QCOM,QUALCOMM Incorporated,Technology,Semiconductors,1.896808e+11,50000.0,1991-07-11,2024-10-28 10:16:23
46,ROP,"Roper Technologies, Inc.",Technology,Software - Application,5.820267e+10,16800.0,2000-08-10,2024-10-28 10:16:23
47,SNPS,"Synopsys, Inc.",Technology,Software - Infrastructure,7.704971e+10,20300.0,2000-01-24,2024-10-28 10:16:23
48,SQ,"Block, Inc.",Technology,Software - Infrastructure,4.395091e+10,12985.0,2015-11-19,2024-10-28 10:16:23
49,TEAM,Atlassian Corporation,Technology,Software - Application,4.918021e+10,12157.0,2018-09-25,2024-10-28 10:16:23
50,TEL,TE Connectivity plc,Technology,Electronic Components,4.532344e+10,85000.0,2016-01-05,2024-10-28 10:16:23
51,TSLA,"Tesla, Inc.",Consumer Cyclical,Auto Manufacturers,8.641161e+11,140473.0,2010-06-29,2024-10-28 10:16:23
52,TTD,"The Trade Desk, Inc.",Technology,Software - Application,5.779433e+10,3115.0,2016-09-21,2024-10-28 10:16:23
53,TWTR,None,None,None,NaN,NaN,2013-11-07,2024-10-28 10:16:23
54,TXN,Texas Instruments Incorporated,Technology,Semiconductors,1.887651e+11,34000.0,1953-01-01,2024-10-28 10:16:23
55,UBER,"Uber Technologies, Inc.",Technology,Software - Application,1.677182e+11,30400.0,2019-05-10,2024-10-28 10:16:23
56,WDAY,"Workday, Inc.",Technology,Software - Application,6.414058e+10,19908.0,2012-10-09,2024-10-28 10:16:23

In [7]:
#precio promedio de cierre ajustado (adj_close) de las acciones de NVDA en 2023

table_name = "historical_prices"

query = f"""
SELECT AVG(adj_close) AS avg_adj_close
FROM historical_prices
WHERE ticker = "NVDA" 
AND date BETWEEN "2023-01-01" AND "2023-12-31";
"""

database = "yfinance_stocks"

data, column_names = select_from_table(query = query, database = database)

pd.DataFrame(data = data, columns = column_names)

  avg_adj_close
0   36.55501560

In [8]:
#comparaci√≥n de capitalizaci√≥n de mercado (market_cap) de NVDA con las dem√°s empresas de su misma industria

table_name = "stocks"

query = f"""
SELECT industry, name, market_cap, ticker
FROM stocks
WHERE industry = (
    SELECT industry 
    FROM stocks 
    WHERE ticker = "NVDA"
)
ORDER BY market_cap DESC;
"""

database = "yfinance_stocks"

data, column_names = select_from_table(query = query, database = database)

pd.DataFrame(data = data, columns = column_names)

          industry                            name     market_cap ticker
0   Semiconductors              NVIDIA Corporation  3471975907328   NVDA
1   Semiconductors                   Broadcom Inc.   810390847488   AVGO
2   Semiconductors    Advanced Micro Devices, Inc.   252855123968    AMD
3   Semiconductors           QUALCOMM Incorporated   189680779264   QCOM
4   Semiconductors  Texas Instruments Incorporated   188765061120    TXN
5   Semiconductors         Micron Technology, Inc.   119644135424     MU
6   Semiconductors            Analog Devices, Inc.   114277793792    ADI
7   Semiconductors               Intel Corporation    96979681280   INTC
8   Semiconductors        Marvell Technology, Inc.    70881140736   MRVL
9   Semiconductors         NXP Semiconductors N.V.    61940875264   NXPI
10  Semiconductors  Monolithic Power Systems, Inc.    43939688448   MPWR

In [9]:
#las 5 fechas con mayor volumen de transacciones

table_name = "cashflow"

query = f"""
SELECT date, volume
FROM historical_prices
WHERE ticker = "NVDA"
ORDER BY volume DESC
LIMIT 5;
"""

database = "yfinance_stocks"

data, column_names = select_from_table(query = query, database = database)

pd.DataFrame(data = data, columns = column_names)

         date      volume
0  2003-05-09  9230856000
1  2001-11-29  5135472000
2  2004-08-06  5088948000
3  2002-07-31  4837140000
4  2003-11-07  4292820000

In [10]:
#flujo de caja operativo (operating_cash_flow) y el gasto de capital (capital_expenditure) en 2023

table_name = "cashflow"

query = f"""
SELECT date, operating_cash_flow, capital_expenditure
FROM cashflow
WHERE ticker = "NVDA"
AND date BETWEEN "2022-01-01" AND "2023-12-31";
"""

database = "yfinance_stocks"

data, column_names = select_from_table(query = query, database = database)

pd.DataFrame(data = data, columns = column_names)

         date  operating_cash_flow  capital_expenditure
0  2022-01-31           9108000000           -976000000
1  2023-01-31           5641000000          -1833000000

In [11]:
#crecimiento del ingreso neto (net_income) por a√±o

table_name = "income_statement"

query = f"""
SELECT YEAR(date) AS year, SUM(net_income) AS total_net_income
FROM income_statement
WHERE ticker = "NVDA"
GROUP BY YEAR(date)
ORDER BY year;
"""

database = "yfinance_stocks"

data, column_names = select_from_table(query = query, database = database)

pd.DataFrame(data = data, columns = column_names)

   year total_net_income
0  2021       4332000000
1  2022       9752000000
2  2023       4368000000
3  2024      29760000000

In [12]:
#Relaci√≥n de las deudas netas (net_debt) con los activos totales (total_assets) a lo largo del tiempo

table_name = "balance_sheet"

query = f"""
SELECT date, net_debt, total_assets, (net_debt / total_assets) * 100 AS debt_to_assets_percentage
FROM balance_sheet
WHERE ticker = "NVDA"
ORDER BY date;
"""

database = "yfinance_stocks"

data, column_names = select_from_table(query = query, database = database)

pd.DataFrame(data = data, columns = column_names)

         date      net_debt  total_assets debt_to_assets_percentage
0  2020-01-31           NaN           NaN                      None
1  2021-01-31  6.116000e+09  2.879100e+10                   21.2427
2  2022-01-31  8.956000e+09  4.418700e+10                   20.2684
3  2023-01-31  7.564000e+09  4.118200e+10                   18.3672
4  2024-01-31  2.429000e+09  6.572800e+10                    3.6955

In [13]:
#principales recomendaciones de analistas

table_name = "upgrades_downgrades"

query = f"""
SELECT date, firm, action, to_grade, from_grade
FROM upgrades_downgrades
WHERE ticker = "NVDA"
ORDER BY date DESC
LIMIT 10;
"""

database = "yfinance_stocks"

data, column_names = select_from_table(query = query, database = database)

pd.DataFrame(data = data, columns = column_names)

                 date               firm action    to_grade  from_grade
0 2024-10-18 11:15:27  B of A Securities   main         Buy         Buy
1 2024-10-11 13:55:04      Goldman Sachs   main         Buy         Buy
2 2024-10-10 12:29:45     Morgan Stanley   reit  Overweight  Overweight
3 2024-10-08 19:45:05  Cantor Fitzgerald   reit  Overweight  Overweight
4 2024-10-08 14:41:59                UBS   reit         Buy         Buy
5 2024-09-18 17:10:44      William Blair   init  Outperform        None
6 2024-09-05 17:23:05  B of A Securities   reit         Buy         Buy
7 2024-08-29 17:33:59          Bernstein   main  Outperform  Outperform
8 2024-08-29 16:45:57      Piper Sandler   main  Overweight  Overweight
9 2024-08-29 16:40:45            Wedbush   reit  Outperform  Outperform

In [14]:
#dividendos pagados por NVDA por a√±o

table_name = "upgrades_downgrades"

query = f"""
SELECT YEAR(date) AS year, SUM(dividends) AS total_dividends
FROM dividends
WHERE ticker = "NVDA"
GROUP BY YEAR(date)
ORDER BY year;
"""

database = "yfinance_stocks"

data, column_names = select_from_table(query = query, database = database)

pd.DataFrame(data = data, columns = column_names)

    year total_dividends
0   2012          0.0019
1   2013          0.0078
2   2014          0.0084
3   2015          0.0100
4   2016          0.0122
5   2017          0.0143
6   2018          0.0154
7   2019          0.0160
8   2020          0.0160
9   2021          0.0160
10  2022          0.0160
11  2023          0.0160
12  2024          0.0240

In [15]:
#splits de acciones

table_name = "income_statement"

query = f"""
SELECT date, stock_splits
FROM splits
WHERE ticker = "NVDA"
ORDER BY date;
"""

database = "yfinance_stocks"

data, column_names = select_from_table(query = query, database = database)

pd.DataFrame(data = data, columns = column_names)

         date stock_splits
0  2000-06-27       2.0000
1  2001-09-10       2.0000
2  2006-04-07       2.0000
3  2007-09-11       1.5000
4  2021-07-20       4.0000
5  2024-06-10      10.0000